/* Elements */
body {
    background-color: #212529;
    color: #9b63c7;
    padding-top: 56px;
    scroll-behavior: smooth;
}

/* Classes */
.navbar {
    background-color: #17191c;
}

.nav-link {
    color: #a599bd;
}

.nav-link:hover {
    color: #e53d3d;
}

.nav-pills > li > a.active {
    background-color: #4e027a !important;
}

.nav-pills > li > a:visited {
    color: #4e027a !important;
}

.tm-container {
    background-color: #17191c;
    border-style: solid;
    border-radius: .5rem;
    border-width: 3px;
    border-color: #4e027a;
    margin-top: 2rem;
    opacity: 98%;
}

.tm-divider-short {
    height: 0.5rem;
    background-color: #735881;
    margin-bottom: 1rem;
}

.tm-icon {
    font-size: 2em;
}

.tm-link {
    color: #9b63c7;
    text-decoration: none;
    font-style: italic;
}

.tm-link:hover {
    color: #e53d3d;
}

.tm-testimonial-title {
    font-size: 1.5em;
}

.tm-testimonial-button {
    font-size: 0.8em;
}

.tm-testimonial-button[aria-expanded="false"]:before {
    content:"[Show More]";
}

.tm-testimonial-button[aria-expanded="true"]:before {
    content:"[Show Less]";
}

@media (min-width: 992px) {
  .rounded-lg-3 {
      border-radius: .3rem;
  }
}

/* Ids */
#tm_background_image {
    background-image: url("images/piano-bg-mono.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tm_footer {
    border-radius: .5rem;
    background-color: #212529;
}

#tm_footer a {
    color: #939191;
}