body {
    background-color: grey;
    /*background-image: url('images/piano-bg.jpg');*/
    /*background-repeat: no-repeat;*/
    color: #4e027a;
}

a {
    color: #4e027a;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: #e53d3d;
}

.tm-container {
    background-color: white;
}

.tm_divider {
    height: 2rem;
    background-color: #735881;
}

.tm-divider-short {
    height: 0.5rem;
    background-color: #735881;
    width: 50%;
    margin-bottom: 1rem;
}

.tm-icon {
    font-size: 2em;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
      border-radius: .3rem;
  }
}